:root {
    --fonte-principal: 'Montserrat';
    --escuro: #181818;
    --cinza-medio: #474747;
    --cinza-claro: #EBE9EA;

}

body {
    font-family: var(--fonte-principal);
    font-size: 16px;
    color: #F9F9F9;

}

.desconto, .rodape {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--escuro);
    font-weight: 500;

}

.logo {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--escuro);

}

.capa {
    position: relative;
    height: 340px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;

}

.capa::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(img/capa-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    filter: brightness(30%);

}

.capa__titulo {
    position: relative;
    font-size: 28px;
    font-weight: 700;
    margin-left: 7%;

}

.capa__texto {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.7em;
    padding-top: 1em;
    margin-left: 7%;

}

.principal {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em;
    color: var(--escuro);
    padding-top: 4em;

}

.principal__texto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}

.principal__texto--titulo {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 1em;

}

.principal__texto--frete {
    font-weight: 500;
    text-align: center;
    line-height: 2em;
    margin-bottom: 2em;
    color: var(--cinza-medio);

}

.container {
    width: 374px;
    height: 302px;
    background-color: var(--cinza-claro);
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container:hover {
    transform: scale(1.1);
    transition: 1s;

}

.container__imagem {
    width: 250px;
    height: 150px;

}

@media (min-width: 1000px) {

    .capa__titulo, .capa__texto {
        width: 30%;

    }

}



